@import "./home.css";
@import "./input.css";
@import "./results.css";

body{
    background: 
    linear-gradient(rgba(0, 0, 0, 0.26), rgba(0,0,0,0) 50%),
    linear-gradient(rgba(0, 0, 0, 0), rgb(41, 60, 66) 60%),
    linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0) 65%),
    linear-gradient(to right,rgb(255, 255, 255), rgba(0,0,0,0) 25%),
    linear-gradient(to left,rgb(255, 255, 255), rgba(0,0,0,0) 25%),
    url();
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgba(0, 0, 0, 0.07);
    width: 100%;
    height: 100%;
    margin: 0%;
}

#mainFlex{
  display: flex;
  flex-direction: column;
}

#topWrapper{
    display: flex;
    flex-direction: row;
    background: url();
}

#bottomWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.snow{
  animation: fadesnow ease 5s;
  width: 100%;
  height: 45%;
  position: absolute;
  align-content: center;
  justify-content: center;
  top: 0%;
  z-index: -7;
}
@keyframes fadesnow {
  0% {
    opacity:0;
  }50%{
    opacity:.05;
  }
  100% {
    opacity:0;
  }
}


.flakes{
  animation: fadeflakes ease 5s;
  width: 100%;
  height: 45%;
  position: absolute;
  align-content: center;
  justify-content: center;
  top: 0%;
 z-index: -7;
}
@keyframes fadeflakes {
  0% {
    opacity:0;
  }50%{
    opacity: .015;
  }
  100% {
    opacity:0;
  }
}

.bluesky{
  animation: fadesky ease 5s;
  width: 100%;
  height: 45%;
  position: absolute;
  align-content: center;
  justify-content: center;
  top: 0%;
  z-index: -7;
 
}

@keyframes fadesky {
  0% {
    opacity:0;
  }50%{
    opacity:.1;
  }
  100% {
    opacity:0;
  }
}

.storm{
  animation: fadestorm ease 2s;
  width: 100%;
  height: 45%;
  position: absolute;
  align-content: center;
  justify-content: center;
  top: 0%;
  z-index: -7;
 
}

@keyframes fadestorm {
  0% {
    opacity:0;
  }50%{
    opacity:.16;
  }
  100% {
    opacity:0;
  }
}
  
.birds{
  animation: fadebirds ease 3s;
  width: cover;
  height: 41%;
  position: absolute;
  align-content: center;
  justify-content: center;
  top: 0%;
  z-index: -7;
 
 
}
@keyframes fadebirds {
  0% {
    opacity:.5;
  }5%{
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}

.shield{
  position:absolute;
  background: linear-gradient(205deg,rgb(0, 0, 0, 1), rgba(0,0,0,0) 25%),
              linear-gradient(25deg,rgb(0, 0, 0, .5), rgba(0,0,0,0) 25%),
              linear-gradient(165deg,rgb(0, 0, 0, .5), rgba(0,0,0,0) 25%),
              linear-gradient(-25deg,rgb(0, 0, 0, .5), rgba(0,0,0,0) 25%),
              linear-gradient(90deg,rgba(0, 0, 0, 0.493), rgba(0,0,0,0) 100%),
              linear-gradient(90deg,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.493) 100%),
              url(./assets/cloudRace.gif);
  background-color: rgb(75, 104, 116);
  background-size: cover;
  height: 71%;
  max-height: 71%;
  width: 100%;
  z-index: -1;
  border-color:  rgb(130, 216, 238);
  border-width: 20%;
  border-style: solid;
  filter: blur(.5em);
  margin: 0em;
  align-content: center;
  

}

#pic{
  text-align: center;
  padding-bottom: 3%;
  border-width: .1em;
  border-color:  rgba(130, 216, 238, 0.699);
  /* border-style: solid; */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,.6)70%, rgba(0,0,0,1)100%);
  padding: 1em;
  
}

#media{
  border-style:ridge;
  border-width: .1em;
  border-color: rgba(130, 216, 238, 0.699);
  border-radius: 1em;
  box-shadow: 2em 2em 2em black;
}
